<%= render 'headfoot/header' %>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= render 'memos/new', user: current_user %>
    </div>

    <div class="col-xs-8">
      <h2>登録ユーザー一覧</h2>

      <br>

      <div>
        <%= form_tag users_path, :method => 'get' do %>
          <%= label_tag :name, "気になるユーザー名" %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "検索する", :name => nil %>
        <% end %>

        <%= yield %>
      </div>

      <br>

      <table class="table">
        <thead>
          <tr>
            <th>ユーザー画像</th>
            <th>お名前</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= attachment_image_tag user,:profile_image, :fill, 50, 50, format: 'png', fallback: "no_image.jpg", size:'50x50' %>
              </td>
              <td>
                <%= user.name %>
                </td>
              <td>
                <%= link_to "詳細", user_path(user.id) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= render 'headfoot/footer' %>
</div>