<%= render 'headfoot/header' %>

<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if @newmemo.errors.any? %>
      <h2><%= @newmemo.errors.count %> errors prohibited this memo from being saved:</h2>

      <ul>
      <% @newmemo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= render 'memos/new', user: current_user %>
    </div>

    <div class="col-xs-8">
      <h2>全投稿一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>カテゴリー</th>
            <th>タイトル</th>
            <th>内容詳細</th>
          </tr>
        </thead>

        <tbody>
          <% @memos.each do |book| %>
            <tr>
              <td></td>
              <td>
                <%= book.category %>
              </td>
              <td>
                <%= link_to memo_path(book.id) do %>
                  <%= book.title %>
                <% end %>
              </td>
              <td>
                <%= book.body %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= render 'headfoot/footer' %>
</div>