<%= render 'headfoot/header' %>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= render 'memos/new', user: current_user %>
    </div>

    <div class="col-xs-8">
      <h2>全投稿一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Category</th>
            <th>Title</th>
            <th>Body</th>
          </tr>
        </thead>

        <tbody>
          <% @memos.each do |book| %>
            <tr>
              <td></td>
              <td>
                <%= book.category %>
              </td>
              <td>
                <%= book.title %>
              </td>
              <td>
                <%= book.body %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= render 'headfoot/footer' %>
</div>