<%= render 'headfoot/header' %>

<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= render 'memos/new', user: @user ,newmemo: @newmemo %>
    </div>

    <div class="col-xs-8">
      <h2>ユーザー投稿詳細</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>題名</th>
            <th>作成日時</th>
            <th>内容詳細</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= attachment_image_tag @user,:profile_image, :fill, 50, 50, format: 'png', fallback: "no_image.jpg", size:'50x50' %></td>
            <td><%= @memo.title %></td>
            <td><%= @memo.created_at.strftime('%Y/%m/%d') %></td>
            <td><%= @memo.body %></td>
            <td>
              <% if @memo.user == current_user %>
                <%= link_to "編集する", edit_memo_path(@memo) %>
                <%= link_to "削除する", memo_path(@memo.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <div id="likes_buttons_<%= @memo.id %>">
        <%= render 'memos/favo', memo: @memo %>
      </div>

      <br>

      <%= form_with model:[@memo, @memo_comment] do |f| %>

        <% if @memo_comment.errors.any? %>
          <h2><%= @memo_comment.errors.count %> errors prohibited this memo from being saved:</h2>

          <ul>
            <% @memo_comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <%= f.text_field :comment,placeholder: "コメントをここに", class: "col-xs-12 text_field" %>
        <div class="col-xs-9"></div>
        <%= f.submit "コメントする", class: "col-xs-3" %>
      <% end %>

      <br>
      <br>
      <br>
      <br>

      <h3>コメント一覧</h3>
        <table class="table">
          <tbody id="comments_index">
            <%= render 'memos/comment', memo: @memo %>
          </tbody>
        </table>
    </div>
  </div>
  <%= render 'headfoot/topback' %>
  <%= render 'headfoot/footer' %>
</div>