<%= render 'headfoot/header' %>

<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= render 'memos/new', user: @user %>
    </div>

    <div class="col-xs-8">
      <h2>ユーザー投稿詳細</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>カテゴリー</th>
            <th>タイトル</th>
            <th>内容詳細</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= attachment_image_tag @user,:profile_image, :fill, 50, 50, format: 'png', fallback: "no_image.jpg", size:'50x50' %></td>
            <td><%= @memo.category %></td>
            <td><%= @memo.title %></td>
            <td><%= @memo.body %></td>
            <td>
              <% if @memo.user == current_user %>
                <%= link_to "edit", edit_memo_path(@memo) %>
                <%= link_to "delete", memo_path, method: :delete, "data-confirm" => "本当に削除しますか？" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <br>
      <%= form_for [@memo, @memo_comment] do |f| %>
        <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
        <%= f.submit "Create Comment" %>
      <% end %>
      <br>

      <% if @memo.favorited_by?(current_user) %>
        <%= link_to memo_favorites_path(@memo), method: :delete do %>
          <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
          <%= @memo.favorites.count %> イイね！
        <% end %>
      <% else %>
        <%= link_to memo_favorites_path(@memo), method: :post do %>
          <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: gray;"></span>
          <%= @memo.favorites.count %> イイね！
        <% end %>
      <% end %>

      <table class="table">
        <tbody>
          <% @memo.memo_comments.each do |memo_comment| %>
            <tr>
              <td><%= attachment_image_tag memo_comment.user ,:profile_image, :fill, 50, 50, format: 'png', fallback: "no_image.jpg" %></td>
              <td><%= memo_comment.user.name %></td>
              <td><%= memo_comment.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= memo_comment.comment %></td>
              <td>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= render 'headfoot/footer' %>
</div>